extends layouts/elements

prepend site-title
  | #{page.title} &mdash;&nbsp;

block content
  
  include partials/menu
  
  .ui.main.text.container
    .ui.right.floated.buttons
      include partials/edit-self

    h2 #{page.title}

    .content !{page.content}
