extends layouts/elements

prepend site-title
  | #{page.title} &mdash;&nbsp;

block content
  
  include partials/menu
  
  .ui.main.text.container
    .ui.right.floated.tiny.buttons
      include partials/edit-self
  
  .ui.main.text.container
    h2 #{page.title}
    .meta posted
      if (page.author)
        |  by 
        include partials/author
      |  on 
      abbr.time #{page.date}

    hr

    .content !{page.content}
