.content {
  padding-bottom: 1em;
  padding-top: 1em;
}

.pusher {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.pusher > .footer {
  flex: 1;
}

.masthead .ui.secondary.inverted.pointing.menu {
  border: 0;
}

.hidden.menu {
  display: none;
}

.masthead.segment {
  /* min-height: 15em; */
  padding: 1em 0em;
}
.ui.secondary.menu .item>img:not(.ui) {
  margin-right: 1em;
  max-height: 2em;
  max-width: 2em;
  margin-top: -1em;
  margin-bottom: -1em;
}
.ui.menu .logo.item>img:not(.ui) {
  margin-right:1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 0.5em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}
.masthead .ui.menu {
  margin: 0;
}
.ui.secondary.menu .header.item {
  border-right: 0;
}
.ui.inverted.menu .logo.item {
  font-weight: bold;
}
.masthead .ui.secondary.pointing.menu {
  border-bottom: 0;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

.sidebar .header a {
  color: white;
}

.sidebar .header a img {
  margin: 1em;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item:not(.logo),
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    /*min-height: 350px;*/
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

pre {
  overflow:inherit;
}

.hljs {
  padding: inherit;
}

.sidechains * {
  display: inline-block;
}

.sidechains * img {
  padding: 0;
  position: absolute;
  top: -22em;
}

.sidechains * img.spin {
  -webkit-animation: spin 30s infinite linear;
}

.sidechains * img.backspin {
  -webkit-animation: backspin 30s infinite linear;
}

@-webkit-keyframes spin {
	0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes backspin {
	0%  {-webkit-transform: rotate(360deg);}
	100% {-webkit-transform: rotate(0deg);}
}


/* old styles */
/* TODO: remove them */
td.gutter {
  display: none;
}

.hidden.menu {
  display: none;
}

.masthead.segment {
  /*min-height: 700px;*/
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}
