.ui.inverted.vertical.footer.segment
  .ui.container
    .ui.stackable.inverted.divided.equal.height.stackable.grid
      .three.wide.column
        h4.ui.inverted.header About
        .ui.inverted.link.list
          a.item(href="/sitemap") Sitemap
          a.item Contact Us

      .three.wide.column
        h4.ui.inverted.header Services
        .ui.inverted.link.list
          a.item(href="") Sidechains
          a.item(href="") Consulting
          
      .seven.wide.column
        h4.ui.inverted.header Copyright
        p The Elements Project is &copy; 2016 The Elements Foundation.
        p All content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC-BY NC SA</a>.
