.ui.inverted.vertical.footer.segment
  .ui.container
    .ui.stackable.inverted.divided.equal.height.stackable.grid
      .six.wide.column
        h4.ui.inverted.header About
        .ui.inverted.link.list
          a.item(href="https://github.com/ElementsProject") GitHub
          a.item(href="https://github.com/ElementsProject/elementsproject.org") Source Code

      //-.three.wide.column

      .seven.wide.column
        h4.ui.inverted.header Copyright
        p The Elements Project is a community endeavor, consisting of contributions from numerous crypographers and engineers.  To contribute, visit <a href="/contributing">our contribution guide</a>.
