a.header.item(href="/") The Elements Project
a.item(href="/elements") Elements
a.item(href="/sidechains") Sidechains
a.item(href="/contributing") Community
a.item(href="/posts") Blog
.right.menu
  a.item(href="https://github.com/ElementsProject/elements")
    i.icon.github.alternate
    | GitHub
    i.icon.chevron.right
